* {
    padding: 0;
    margin: 0;
}

.container {
    padding: 10px 50px;
}

.navbar {
    background-color: bisque;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.nav-item {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.nav-menu-item {
    display: inline;
    cursor: pointer;
    padding: 10px;
}

.nav-menu-item:hover {
    background-color: black;
    color: white;
}

.title {
    text-align: center;
    letter-spacing: 10px;
}

.img {
    border-radius: 20px;
    display: inline;
    float: left;
}

.content {
    border: 10px dotted green;
}

.description {
    text-align: justify;
    display: inline;
}